@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #27262634;
    border-radius: 3px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}